/* Your CSS code goes in this file. */

/*Centering*/

h1 {
  margin: 10px auto;
  width: 960 px;
}

h4 {
  color: purple;
  font-weight: bold;
}

/*Fonts*/

body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  margin: 10px;
}

li {
  font-weight: bold;
}

body {
  line-height: 1.5;
}

.card {
  float: right;
  box-shadow: 8px 8px 4px #AAA;
}
