/* Your CSS code goes in this file. */

/*Centering*/

h1 {
  margin: 10px auto;
  width: 960 px;
  }

/*Fonts*/

body {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    margin: 10px;
}


body {
  line-height: 1.5;
}

img {
  float: right;
  box-shadow: 8px 8px 4px #AAA;
}
